* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  letter-spacing: 1px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --hover-active-colour: #F2C7E2;
  --svg-fill-colour: #fff;
  --sorce-code-svg-fill-colour: hsl(214, 7%, 47%);
  --body-bg-colour: #0D1117;
  --nav-footer-bg-colour: #131418;
  --nav-text-colour: #f2f5f7;
  --card-bg-colour: #262626;
  --card-title-span-colour: rgb(255, 251, 251);
  --card-box-shadow-colour: rgba(139,138,138,0.2);
  --card-box-shadow-hover-colour: #f2c7e2;
  --top-border-colour: #F2C7E2;
  --footer-link-colour: dimgrey;
  --blog-span-hr-colour: rgba(105, 105, 105, 0.26);
}

body {
  overflow-x: hidden;
  background-color: var(--body-bg-colour);
  color: var(--nav-text-colour);
}

.changelog_body {
  overflow-x: hidden;
  background-color: var(--body-bg-colour);
  max-width: 1500px;
  margin-left: 15em;
  margin-right: 15em;
}
@media screen and (max-width: 800px) {
  .changelog_body {
    max-width: 800px;
    overflow-x: hidden;
    margin-left: 0;
    margin-right: 0;
  }
}

a {
  color: var(--nav-text-colour);
}
a:hover {
  color: var(--hover-active-colour);
}

.index_h1 {
  padding-top: 1em;
  padding-bottom: 5em;
  margin: auto;
  text-align: center;
  color: var(--nav-text-colour);
}
@media screen and (max-width: 800px) {
  .index_h1 {
    padding-top: 2em;
    font-size: 1.25em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
  }
}

.project_band {
  width: 85%;
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
@media (min-width: 30em) {
  .project_band {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 60em) {
  .project_band {
    grid-template-columns: repeat(4, 1fr);
  }
}

.project_card {
  background: var(--light-card-bg-colour);
  text-decoration: none;
  box-shadow: 0 2px 5px var(--light-card-box-shadow-colour);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}
.project_card:hover {
  top: -2px;
  box-shadow: 0 4px 5px var(--light-card-box-shadow-hover-colour);
}
@media (prefers-color-scheme: dark) {
  .project_card {
    background: var(--card-bg-colour);
    text-decoration: none;
    color: var(--nav-text-colour);
    box-shadow: 0 2px 5px var(--card-box-shadow-colour);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
  }
  .project_card:hover {
    top: -2px;
    box-shadow: 0 4px 5px var(--card-box-shadow-hover-colour);
  }
}
.project_card article {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project_card h1 {
  font-size: 18px;
  margin: 0;
}
@media (prefers-color-scheme: dark) {
  .project_card h1 h1 {
    font-size: 20px;
    margin: 0;
  }
}
.project_card .thumb {
  padding-bottom: 60%;
  min-height: 100%;
  width: 100%;
  background-size: cover;
}
.project_card .blog_page_thumb {
  padding-bottom: 60%;
  min-height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 60em) {
  .item-1 {
    grid-column: 1/span 2;
  }
  .item-1 h1 {
    font-size: 24px;
  }
}
.projects_links {
  border: 0.2em;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin-left: 0.75em;
  padding-top: auto;
}
.projects_links:hover {
  border: 0.2em;
  color: var(--light-hover-active-colour);
  text-decoration: none;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin-left: 0.75em;
  padding-top: auto;
}
@media (prefers-color-scheme: dark) {
  .projects_links:hover {
    color: var(--hover-active-colour);
  }
}

.projects_text {
  text-align: center;
  color: var(--light-nav-text-colour);
}
@media (prefers-color-scheme: dark) {
  .projects_text {
    color: var(--nav-text-colour);
  }
}

.project_h1 {
  margin: auto;
  text-align: center;
  padding-top: 5em;
  color: var(--light-nav-text-colour);
}
@media (prefers-color-scheme: dark) {
  .project_h1 {
    color: var(--nav-text-colour);
  }
}

.link_placement {
  margin: auto;
  display: flex;
  padding-top: auto;
  align-items: center;
  text-align: center;
  padding-top: 0.35em;
}

.source_code_links {
  border: 0.2em;
  color: var(--light-sorce-code-svg-fill-colour);
  text-decoration: none;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin-left: 0.75em;
  padding-top: auto;
}
.source_code_links:hover {
  border: 0.2em;
  color: var(--light-hover-active-colour);
  text-decoration: none;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin-left: 0.75em;
  padding-top: auto;
}
@media (prefers-color-scheme: dark) {
  .source_code_links:hover {
    color: var(--hover-active-colour);
  }
}

svg {
  fill: var(--light-svg-fill-colour);
  width: 2.5em;
  height: 2.5em;
  padding-left: 0.9em;
  padding-right: auto;
}
@media (prefers-color-scheme: dark) {
  svg {
    fill: var(--svg-fill-colour);
  }
}

.source_code_svg {
  fill: var(--light-sorce-code-svg-fill-colour);
  width: 2em;
  height: 2em;
  padding-left: 0.7em;
  padding-right: auto;
}

.head_text_projects {
  margin: 0.1em 1em;
  margin-left: 2em;
  padding-bottom: 0.3em;
}

.project_links_placement {
  display: flex;
  margin: auto;
}

.projects_img {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

.changelog_h1 {
  padding-top: 1em;
  margin: auto;
  text-align: center;
  font-size: 1.25em;
  color: var(--nav-text-colour);
}
@media screen and (max-width: 800px) {
  .changelog_h1 {
    padding-top: 1em;
    font-size: 1.25em;
    padding-left: 2em;
    padding-right: 2em;
  }
}

hr {
  border-top: 1px solid var(--top-border-colour);
  width: 97%;
  margin-left: 1em;
  margin-top: 0.6em;
  align-items: center;
}
@media screen and (max-width: 800px) {
  hr {
    width: 90%;
  }
}

h2, h3 {
  padding-top: 0.7em;
  font-size: 1em;
}
@media screen and (max-width: 800px) {
  h2, h3 {
    margin-left: 1em;
    margin-right: 1em;
  }
}

p, h2 {
  color: var(--nav-text-colour);
  padding-left: 1em;
}

h3 {
  color: var(--nav-text-colour);
  padding-left: 1.75em;
}

li {
  margin-left: 3.5em;
  margin-right: 1.5em;
}

@media screen and (max-width: 800px) {
  p {
    margin-right: 1.5em;
    margin-left: 1em;
  }
}

hr.test {
  border: 0.2px solid #171d29;
  margin-top: 0.5em;
}

.removed {
  color: rgb(255, 181, 181);
}

.added {
  color: rgb(181, 255, 181);
}

.fixed {
  color: rgb(255, 235, 181);
}

.changed {
  color: rgb(181, 240, 255);
}

.issues {
  color: rgb(255, 181, 233);
}/*# sourceMappingURL=main.css.map */